.info-box {
  padding: 15px;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 10px;
}

.info-box-text {
  font-size: 14px;
}

.info-box-number {
  font-size: 22px;
  font-weight: bold;
}

.card {
  margin-bottom: 20px;
}
