/* .nic-footer {
  background-color: #0b4d8f; 
  color: #ffffff;
  padding: 10px 12px;
  font-size: 13px;
  line-height: 1.6;
   padding: 0;
  border-top: 2px solid #f2f2f2;
}

.nic-footer .highlight {
  color: #ffd700; 
  font-weight: 600;
}

.nic-footer .footer-text {
  display: block;
  text-align: center;
} */
.nic-footer {
  background: linear-gradient(to right, #f8f9fa, #ffffff);
  border-top: 3px solid #0d6efd;   /* BLUE NIC STYLE LINE */
  padding: 18px 25px;
  font-size: 0.85rem;
  color: #222;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 14px;
  max-width: 75%;
}

.footer-logo {
  height: 55px;
  background-color: #000;
  width: auto;
}

.footer-text p {
  margin: 0;
  line-height: 1.5;
}

.footer-text strong {
  color: #000;
}

.footer-right {
  white-space: nowrap;
  font-size: 0.85rem;
}

.footer-right a {
  color: #0d6efd;
  text-decoration: none;
  font-weight: 500;
}

.footer-right a:hover {
  text-decoration: underline;
}

.footer-right span {
  margin: 0 6px;
  color: #888;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-left {
    flex-direction: column;
    max-width: 100%;
  }

  .footer-right {
    margin-top: 10px;
  }
}
