<footer class="nic-footer">
     <img
    src="assets/images/nic-footer-logo.png"
    alt="NIC Footer"
    class="ccms-footer-img"
  />
  <div class="container-fluid text-center">
    <span class="footer-text">
      <strong class="highlight">
        Developed and hosted by:
      </strong>
      National Informatics Centre, Ministry of Electronics & Information Technology, Government of India.
      <br />
      <strong class="highlight">
        Disclaimer:
      </strong>
      Content and data owned by respective Service Provider Departments, Chandigarh Administration.
      <br />
      © Law & Prosecution Department, Chandigarh Administration.
    </span>
  </div>
</footer>
