<div class="app-content-header">
    <div class="container-fluid">
        <div class="row g-3 mb-5">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>
<div class="app-content">
    <div class="container-fluid">
        <div class="row g-3 mb-4">

            <div class="col-12 col-sm-6 col-md-4 col-xl">
                <div class="small-box text-bg-primary h-100">
                    <div class="inner">
                        <h3>{{ summary?.civilCase}}</h3>
                        <p>Civil Cases</p>
                    </div>
                    <i class="small-box-icon bi bi-hourglass-split"></i>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-xl">
                <div class="small-box text-bg-success h-100">
                    <div class="inner">
                        <h3>{{ summary?.criminalCase }}</h3>
                        <p>Criminal Cases</p>
                    </div>
                    <i class="small-box-icon bi bi-check-circle"></i>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-xl">
                <div class="small-box text-bg-warning h-100">
                    <div class="inner">
                        <h3>{{ summary?.advocate }}</h3>
                        <p>Advocates</p>
                    </div>
                    <i class="small-box-icon bi bi-person-badge"></i>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-xl">
                <div class="small-box text-bg-danger h-100">
                    <div class="inner">
                        <h3>{{ summary?.contemptCase }}</h3>
                        <p>Contempt Cases</p>
                    </div>
                    <i class="small-box-icon bi bi-exclamation-triangle"></i>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-xl">
                <div class="small-box text-bg-info h-100">
                    <div class="inner">
                        <h3>
                            {{ summary?.decidedCase }}
                        </h3>
                        <p>Decided Cases</p>
                    </div>
                    <i class="small-box-icon bi bi-graph-up"></i>
                </div>
            </div>

        </div>
        <div class="row align-items-stretch mb-4">

            <div class="col-lg-7 d-flex">
                <div class="card mb-4 w-100 h-100">
                    <div class="card-header text-center">
                        <div class="row">
                            <div class="col-md-6 border-end">
                                <h6 class="mb-0 fw-semibold">Cases Listed for Today</h6>
                            </div>
                            <div class="col-md-6">
                                <h6 class="mb-0 fw-semibold">Cases Listed for Next 7 Days</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body d-flex align-items-center">
                        <div class="row w-100">
                            <div class="col-md-6 text-center">
                                <canvas id="Todaychart" class="chart-canvas"></canvas>
                            </div>
                            <div class="col-md-6 text-center">
                                <canvas id="next7DaysChart" class="chart-canvas"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-5 d-flex">
                <div class="card mb-4 w-100 h-100">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-3 border-end">
                                <h6 class="mb-0 fw-semibold">About CCMS</h6>
                            </div>
                            <div class="col-md-9 text-end">
                                <h6 class="mb-0 fw-semibold">
                                    Please contact for technical support –
                                    <span class="blinkTech text-danger">011-24305000</span>, ext. - 49133
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <p>
                                <strong>Court Case Monitoring System (CCMS)</strong> aims to facilitate
                                departments, advocates, HODs, LR and Secretaries to manage and monitor
                                court cases pertaining to the Departments of Chandigarh Administration.
                            </p>

                            <p>
                                CCMS is integrated with the National Judicial Data Grid using the NAPIX
                                platform for District and High Court cases. CAT cases are also integrated,
                                while Supreme Court integration is under process.
                            </p>

                            <p>
                                CCMS operates on a role-based system ensuring users view and perform
                                actions relevant to them. Case details are automatically fetched and
                                notified by the Law Department.
                            </p>

                            <p class="mb-2">
                                Android and iOS mobile applications are also available.
                            </p>
                        </div>
                        <div class="card mt-3">
                            <div class="card-header bg-light">
                                <h6 class="mb-0 fw-semibold">Search Case</h6>
                            </div>
                            <div class="card-body d-flex gap-2">
                                <input type="text" class="form-control" placeholder="Type case number..." />
                                <button class="btn btn-primary">Search</button>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-5">
                                <a href="https://egazette.chd.gov.in/" target="_blank">
                                    <img src="assets/images/egazette.png" class="img-fluid rounded" width="100%"
                                        alt="eGazette Chandigarh">
                                </a>
                            </div>
                            <div class="col-7">
                                <a href="https://www.indiacode.nic.in/" target="_blank">
                                    <img src="assets/images/indiacode.png" class="img-fluid rounded" width="100%" alt="India Code">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 connectedSortable">
                <div class="card direct-chat direct-chat-primary mb-4">
                    <div class="card-header">
                        <h6 class="mb-0 fw-semibold">Court Wise Cases(Ongoing Cases)</h6>
                    </div>
                    <div class="card-body chart-container">
                        <canvas id="barChart" class="custom-chart"></canvas>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 connectedSortable">
                <div class="card direct-chat direct-chat-primary mb-4">
                    <div class="card-header">
                        <h6 class="mb-0 fw-semibold">Day wise cases entry (Last 30 days)</h6>
                    </div>
                    <div class="card-body chart-container">
                        <canvas id="lineChart" class="custom-chart"></canvas>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>